body {
    margin: 0;
    padding: 0;
    line-height: 2;
}

.page {
    background: linear-gradient(#00a884, #090235);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.header h1 {
    margin-left: 5vw;
    margin-top: 5vw;
}

.img {
    margin-right: 5vw;
    margin-top: 4vw;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin-left: 15vw;
    color: white;
}

.intro p {
    font-size: large;
}

.main {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: 20vw;
    color: white;
    margin-top: 3vh;
    
}

.js, .ts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background-color: #f08d03;
    border-radius: 5px;
    font-weight: 600;
}

.tasks {
    display: flex;
    flex-direction: column;
}

.tasks button {
    display: flex;
    flex-direction: row;

}

.hint {
    color:#f08d03
}

a {
    text-decoration: none;
    color:#f08d03
}

.footer {
    background-color:#f08d03;
    height: 10px;
    width: 90vw;
    margin-left: 4vw;
}

.emoji {
    font-size: xx-large;
}

#footeremoji {
    text-align: center;
}

#arrayemoji {
    text-align: right;
}

#objectemoji {
    text-align: center;
}

#typeemoji {
    text-align: right;
}

#introemoji {
    font-size: xx-large;
}